body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-image: linear-gradient(to right, #90e0ef, #0077b6);
}

@font-face {
  font-family: "Cookie";
  src: url("./assets/Cookie-Regular.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/helvetica-neu.ttf");
}
